/* Write your CSS code here */
/* Write your CSS code here */
.about-con {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-heading {
  font-size: 40px;
  font-weight: 500;
}

.home-image {
  width: 200px;
}
